.nav {
    grid-area: n;
    background-color: none;
    width: 30%;
}

.item {
    display: inline;
}

.item a {
    color: black;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: none;
    text-decoration: none;
}

.item a:hover {
    border-radius: 10px;
    color: #37d71e;
    background: white;
    border-bottom: 2px solid #37d71e;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.item.active {
    color: black;
}
 img{
    width : 30%;
}